@import url("https://fonts.googleapis.com/css2?family=Arapey&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-arapey: "Arapey", serif;
  --font-oleo: "Oleo Script Swash Caps", cursive;
  --font-passions: "Passions Conflict", cursive;
  --font-rouge: "Rouge Script", cursive;
  --font-arvo: "Arvo", serif;
}

/* Text stroke custom */
.text-stroke-brown {
  -webkit-text-stroke: 2.3px #3c3431; /* coklat */
  color: #ffffff; /* isi putih */
}

.text-stroke-arvo {
  -webkit-text-stroke: 0.5px #3c3431; /* coklat */
  color: #ffffff; /* isi putih */
}

.text-stroke-arapey {
  -webkit-text-stroke: 1px #2f1b13d3; /* coklat */
  color: #000000; /* isi putih */
}

.text-stroke-passions {
  -webkit-text-stroke: 1.5px #2f1b13d3; /* coklat */
  color: #000000; /* isi putih */
}

.text-stroke-rouge {
  -webkit-text-stroke: 2px #2f1b13d3; /* coklat */
  color: #000000; /* isi putih */
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

@keyframes floatSlow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

body {
  margin: 0;
  padding: 0;
  background: #e7d08a;
}

#root {
  min-height: 100vh;
  background: #e7d08a;
  padding-bottom: env(safe-area-inset-bottom);
}
